<!DOCTYPE html
        PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      xmlns:i18n="http://genshi.edgewall.org/i18n"
      i18n:domain="acct_mgr">
<xi:include href="layout.html" />
<?python
    if _dgettext is not None:
        dgettext = _dgettext ?>
<head>
    <title>Register</title>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            $('input[@name=username]')[0].focus();
        });
    </script>
</head>

<body>
<div id="content" class="register">
    <h1>Register an account</h1>

    <div class="system-message" py:if="registration_error">
        <h2>Error</h2>
        <p>$registration_error</p>
    </div>

    <form method="post" id="acctmgr_registerform" action="" class="custom">
        <fieldset class="large-8 small-12">
            <legend>Required</legend>
            <div class="large-5 small-12">
                <input type="hidden" name="action" value="create" />
                <label>Username:
                    <input type="text" name="username" class="textwidget"
                           size="20" value="${acctmgr.username}" />
                </label>
                <p class="hint" py:if="ignore_auth_case">
                    Only lowercase usernames allowed
                </p>
            </div>
            <div class="large-5 small-12">
                <label>Password:
                    <input type="password" name="password"
                           class="textwidget" size="20" />
                </label>
            </div>
            <div class="large-5 small-12">
                <label>Confirm Password:
                    <input type="password" name="password_confirm"
                           class="textwidget" size="20" />
                </label>
            </div>
            <div class="large-10 small-12" py:for="field in required_fields">
                <!--! Additional required fields can be included below. -->
                ${field}
            </div>
        </fieldset>

        <fieldset class="large-3 small-12">
            <legend>Optional</legend>
            <div>
                <label>Name:
                    <input type="text" name="name" class="textwidget" size="20"
                           value="${acctmgr.name}"/>
                </label>
            </div>
            <div py:for="field in optional_fields">
                <!--! Additional optional fields can be included below. -->
                ${field}
            </div>
        </fieldset>
        <div class="buttons">
            <input class="tiny button" type="submit"
                   value="${dgettext('acct_mgr', 'Create account')}" />
        </div>
    </form>
</div>
</body>
</html>
